This is python UI

In [1]:
var1 = input("Hi please give me input:")

Hi please give me input:56

In [3]:
# Input data
variable_name = input("Please give me input:")

Please give me input:8

In [4]:
variable_name

'8'

In [6]:
print("value is:", variable_name, ".")

value is: 8 .

In [7]:
# in the next we are printing output
print("variable value is:", variable_name)

variable value is: 8

In [9]:
a = 1
var = 1

In [10]:
!python --version

Python 3.10.12

VARIABLE

In [12]:
cab = 'ola'
CAB = "ola1"
_cost = 100.6

In [15]:

cab = 'ola'

In [16]:
int(99.999)

99

In [22]:
x = 12
y = 11

# x = 12.3
# y = 11.2
print(x,y)

z= x + y

# Basic operations
print("Add x and y is:",z)
print("Add x and y is:", (x+y))
print("Subtraction x and y is:", (x-y))
print("Multiplication x and y is:", (x*y))
print("Division x and y is:", (x/y))
print("Modulus x and y is:", (x%y))
print("Power x to y is:",(x**y))

12 11
Add x and y is: 23
Add x and y is: 23
Subtraction x and y is: 1
Multiplication x and y is: 132
Division x and y is: 1.0909090909090908
Modulus x and y is: 1
Power x to y is: 743008370688

In [24]:
x= 100
y= 10
print("Modulus x and y is:",(x%y))
print("Powerx to x to y:",(x**y))

Modulus x and y is: 0
Powerx to x to y: 100000000000000000000

In [76]:
x = 1
y = 2
w,z = 1,2

a = True
b = False

# Basic operations
print('x==y : ', x==y)
print('y==z : ', y==z)
print('y>=z : ', y>=z)
print('y<=z : ', y<=z)
print('y!=z : ', y!=z)

print('a and b : ', a and b)
print('a or b : ', a or b)
print('not of a : ', not a)

x==y :  False
y==z :  True
y>=z :  True
y<=z :  True
y!=z :  False
a and b :  False
a or b :  True
not of a :  False

In [86]:
s1 = 'Hi this is a string data'

# Basic operations


print("Initial String: ",s1)
print("First 2 chars String:",s1[:2])
print("last 3 chars String:",s1[-3:])
print("Substring 4 to 8 chars String: ",s1[3:7])
print("Upper case: ",s1.upper())
print("Lower case: ",s1.lower())
print("Replace substring: ",s1.replace(' ','*'))
print("Length: ",len(s1))
print("Contains substring Hi: ",("Hi" in s1))
print("Concat substring User: ",(s1 + " User"))

Initial String:  Hi this is a string data
First 2 chars String: Hi
last 3 chars String: ata
Substring 4 to 8 chars String:  this
Upper case:  HI THIS IS A STRING DATA
Lower case:  hi this is a string data
Replace substring:  Hi*this*is*a*string*data
Length:  24
Contains substring Hi:  True
Concat substring User:  Hi this is a string data User

In [38]:
l1 =[100,200,250,300,350]

In [39]:
l1

[100, 200, 250, 300, 350]

In [58]:
# Syntax
# list [] or l1 =[]
l1 =[100,200,250,300,350]
print("Initial list: ",l1)

#Length
len1 = len(l1)
print("Length of Intial list: ",len1)

# Access
print("1st element of list: ",l1[0])
print("from 2nd to 3th element of list: ",l1[1:3])
print("Last element of list: ",l1[-1])


# Adding element
# 1. Append elements
l1.append(10)
print("Append 10 to the list: ",l1)

# 2. Insert elements
l1.insert(0,50)
print("Insert 50 at pos. 0: ",l1)

#3. Concatenation elements
l1 = l1 + [11,12]
print("Concatenate 2 lists:",l1)


# removing elements
l1.remove(300)
print("Removed 300 from list:",l1)

# sort elements
l1.sort()
print("Sorted List: ",l1)


#Contains element
print("Whether list contains 10: ", 10 in l1)

Initial list:  [100, 200, 250, 300, 350]
Length of Intial list:  5
1st element of list:  100
from 2nd to 3th element of list:  [200, 250]
Last element of list:  350
Append 10 to the list:  [100, 200, 250, 300, 350, 10]
Insert 50 at pos. 0:  [50, 100, 200, 250, 300, 350, 10]
Concatenate 2 lists: [50, 100, 200, 250, 300, 350, 10, 11, 12]
Removed 300 from list: [50, 100, 200, 250, 350, 10, 11, 12]
Sorted List:  [10, 11, 12, 50, 100, 200, 250, 350]
Whether list contains 10:  True

In [65]:
#syntax
# set1 = {} or set1 = {[]} or set(list)
set1 = {"Patient 1","Patient 2","Patient 3", "Patient 4"}
print("Initial Set: ",set1)

print("Length of Initial set:",len(set1))

# Unique elements in a list
list1 = ["Patient 1","Patient 2","Patient 3",
         "Patient 2","Patient 3","Patient 1",
         "Patient 2"]
set2 = set(list1)
print("Unique elements of list:",set2)

# Substract 2 sets

set3 = set1 - set2
print("Difference between 2 sets:",set3)

Initial Set:  {'Patient 4', 'Patient 3', 'Patient 2', 'Patient 1'}
Length of Initial set: 4
Unique elements of list: {'Patient 3', 'Patient 2', 'Patient 1'}
Difference between 2 sets: {'Patient 4'}

In [69]:
# Syntax
# dict1 = {"":"",""}

dict_age = {"Patient 1":20,"Patient 2":25,"Patient 3":28}


# ACCESS keys
print("Keys are:",dict_age.keys())

# ACCESS values

print("Values are:",dict_age.values())

# Access values based on keys
print("Age of Patient 1 is:",dict_age['Patient 1'])
print("Age of Patient 2 is:",dict_age['Patient 2'])
print("Age of Patient 3 is:",dict_age["Patient 3"])

Keys are: dict_keys(['Patient 1', 'Patient 2', 'Patient 3'])
Values are: dict_values([20, 25, 28])
Age of Patient 1 is: 20
Age of Patient 2 is: 25
Age of Patient 3 is: 28

In [74]:
 # Example of tuple representing patient information(name, age, gender)
 patient1 = ("Patient 1",30, "Male")
 patient2 = ("Pravin",25, "Female")
 patient3 = ("sham",35, "Male")

 #Access
 print("Age of Patient 1:",patient1[1])


 # Unpacking
 p1_name,p1_age,p1_gender = patient1


 print("Gender of Pravin:",patient2[2])
 print("Name of Patient3:",patient3[0])

Age of Patient 1: 30
Gender of Pravin: Female
Name of Patient3: sham

In [91]:
#conditional statement



var_age = 10
if var_age >18:
  print("Greater than 18")

elif var_age == 18:
    print("Equal to 18")

else:
      print("less than 18")

less than 18

In [96]:
var_number = 18
if var_number % 2 == 0:
  print("Even number")
else:
  print("Odd number")

Even number

In [98]:
var_age = 19
if not var_age == 18: ### if var_age!=18
  print("Age is not equal to 18")
else:
  print("Age is equal to 18")

Age is not equal to 18

In [102]:
# Multiple Condition

var = 21
if var >= 10 and var <= 20:
  print("The age is within 10 to 20")
else:
  print("The age is not within 10 to 20")

The age is not within 10 to 20

In [104]:
# Nested if conditions

var_age = 18
var_weight = 50
if var_age >= 18:
  if var_weight <=50:
    print("The age is greater than 18 and weight is less than 50")
  else:
    print("The age is greater than 18 and weight is greater than 50")

The age is greater than 18 and weight is less than 50

LOOPS

In [105]:
l1 = [1,2,3,4,5]
for i in l1:
  print(i)

1
2
3
4
5

In [115]:
# for loop example

#syntax
#for i in seq:
#Block of code
# while condition
#Block of code



var_patient = ["Patient 1","Patient 2","Patient 3","Patient 4"]
var_age = [20,30,40,50]

for var in var_patient:
  print("Hi welcome to the hospital:",var)

  # for loop with if condition

  count = 0
  for var in var_age:
    if var <30:
      count = count + 1
      print(count)

Hi welcome to the hospital: Patient 1
1
Hi welcome to the hospital: Patient 2
1
Hi welcome to the hospital: Patient 3
1
Hi welcome to the hospital: Patient 4
1

In [118]:
var_patient = ["Patient 1","Patient 2","Patient 3","Patient 4"]
var_age = [20,30,40,50]
count = 0
for var in var_age:
 if var <30:
      count = count + 1
      print(count)

1

In [131]:
var_number = [1,2,3,4,5,6,7,8,9,10]
count = 0
for var in var_number:
  if var %2 != 0:
    count = count + 1
    print(count)

1
2
3
4
5

In [132]:
var_number = [1,2,3,4,5,6,7,8,9,10]
count = 0
for var in var_number:
  if var %2 == 0:
    count = count + 1
    print(count)

1
2
3
4
5

In [133]:
count_even = 0
count_odd = 0
l1 = [1,2,3,4,5]
for i in l1:
  if i%2==0:
    count_even = count_even + 1
    print(i," is even number")
  else:
    count_odd = count_odd + 1
    print(i, "is odd number")
print("even numbers:", count_even)
print("odd numbers:", count_odd)

1 is odd number
2  is even number
3 is odd number
4  is even number
5 is odd number
even numbers: 2
odd numbers: 3

In [134]:
count_even = 0
count_odd = 0
l1 = [1,2,3,4,5,6,7,8,9,10]
for i in l1:
  if i%2==0:
    count_even = count_even + 1
    print(i," is even number")
  else:
    count_odd = count_odd + 1
    print(i, "is odd number")
print("even numbers:", count_even)
print("odd numbers:", count_odd)

1 is odd number
2  is even number
3 is odd number
4  is even number
5 is odd number
6  is even number
7 is odd number
8  is even number
9 is odd number
10  is even number
even numbers: 5
odd numbers: 5

In [135]:
#while loop


num_medicine = 10
while num_medicine > 0:
  num_medicine = num_medicine - 1
  print("Medicine left:",num_medicine)

Medicine left: 9
Medicine left: 8
Medicine left: 7
Medicine left: 6
Medicine left: 5
Medicine left: 4
Medicine left: 3
Medicine left: 2
Medicine left: 1
Medicine left: 0

In [138]:
num_medicine = 45
while num_medicine > 9:
  num_medicine = num_medicine -9
  print("Medicie left:",num_medicine)

Medicie left: 36
Medicie left: 27
Medicie left: 18
Medicie left: 9

In [140]:
#range



for i in range(4,12,3):
  print(i)

4
7
10

Break statement example

In [142]:
#break statement example

num = ["Patient 1","Patient 2","Patient 3","Patient 4"]
for var in num:
  if var == "Patient 3":
    print("Found Patient 3")
    break
  else:
      print("Did not find Patient 3")

Did not find Patient 3
Did not find Patient 3
Found Patient 3

In [149]:
# Continue statement example
var_bp = [120,130,110,140,115,150,125,155,160]

for i in var_bp:
  if i < 130:
    continue
  print("High BP Value(mmHg):",i)

High BP Value(mmHg): 130
High BP Value(mmHg): 140
High BP Value(mmHg): 150
High BP Value(mmHg): 155
High BP Value(mmHg): 160

In [150]:
# Enumerate

var_bp = [120,130,110,140,115,150,125,155,160]
for index,var in enumerate(var_bp):
  print(index,var)

0 120
1 130
2 110
3 140
4 115
5 150
6 125
7 155
8 160

In [160]:
var_bp = [120,130,110,140,115,150,125,155,160]
for index,var in enumerate(var_bp):
  if var > 130:
     print("Index is:",index,"Value is ",var)

Index is: 3 Value is  140
Index is: 5 Value is  150
Index is: 7 Value is  155
Index is: 8 Value is  160

In [161]:
#zip

var_patient = ["Patient 1","Patient 2","Patient 3","Patient 4"]
var_age = [20,30,40,50]
var_weight = [30.5,30,40.5,50.5]

for num1,num2,num3 in zip(var_patient,var_age,var_weight):
 # print("Patient ID is:", num1, "and age is:", num2, "and weight is:"num3)

 print(f"Patient ID is: {num1} and age is: {num2} and weight is: {num3}")

Patient ID is: Patient 1 and age is: 20 and weight is: 30.5
Patient ID is: Patient 2 and age is: 30 and weight is: 30
Patient ID is: Patient 3 and age is: 40 and weight is: 40.5
Patient ID is: Patient 4 and age is: 50 and weight is: 50.5

In [162]:
var_student = ["SHREYA","DEEPAK","NEHA","GANESH"]
var_score = [50,30,40,25]
var_ranking = [4,2,1,3]

for num1,num2,num3 in zip(var_student,var_score,var_ranking):
  print(f"Student Name is: {num1} and score is: {num2} and ranking is: {num3}")

Student Name is: SHREYA and score is: 50 and ranking is: 4
Student Name is: DEEPAK and score is: 30 and ranking is: 2
Student Name is: NEHA and score is: 40 and ranking is: 1
Student Name is: GANESH and score is: 25 and ranking is: 3