In [ ]:
#Question no.22, question A

import numpy as np

In [ ]:
N1=np.array([100,20,50.3,4.5,50.6,3,1,36,2])

In [ ]:
total_sum = np.sum(N1)

#question B, Print the sum
print(total_sum)

267.4

In [ ]:
#question C, number of elements

print(np.size(N1))

9

In [ ]:
#question D, max value of array

print(np.max(N1))

100.0

In [ ]:
#question E, mean, median, SD of Array

# Calculate the mean:
mean = np.mean(N1)

# Calculate the median:
median = np.median(N1)

# Calculate the standard deviation:
sd = np.std(N1)

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", sd)

Mean: 29.71111111111111
Median: 20.0
Standard Deviation: 31.404084817263445

In [ ]:
#question f, add 10 to each element

# Add 10 to each element:
N1_plus_10 = N1 + 10

print(N1_plus_10)

[110.   30.   60.3  14.5  60.6  13.   11.   46.   12. ]

In [ ]:
#question g, sort the array in ascending order

N1_sorted = np.sort(N1)

print(N1_sorted)

[  1.    2.    3.    4.5  20.   36.   50.3  50.6 100. ]

In [ ]:
#question H, add the array elements with itself

result = N1 + N1

print(result)

[200.   40.  100.6   9.  101.2   6.    2.   72.    4. ]

In [ ]:
#question I, Access the first element of the array

first_element = N1[0]

print(first_element)

100.0

In [ ]:
#question J, get the array elements greater than 20 and less than 40

filtered_elements = N1[(N1 > 20) & (N1 < 40)]

print(filtered_elements)

[36.]

In [ ]:
# prompt: import and read the excel file

import pandas as pd

# Install the necessary library if it's not already installed.
!pip install pandas openpyxl

# Replace 'your_file.xlsx' with the actual path to your Excel file.
# If the file is in your Google Drive, you might need to mount your Drive first.
# Example: from google.colab import drive; drive.mount('/content/drive')
# and then use the path like '/content/drive/My Drive/your_file.xlsx'

file_path = '/content/Patient footfall.xlsx'  # Update with the correct path

try:
    # Read the Excel file into a pandas DataFrame.
    # The engine parameter might need adjustments depending on the file format
    df = pd.read_excel(file_path, engine='openpyxl')

    # Now you can work with the data in the 'df' DataFrame
    print(df.head()) # View the first few rows of the data

except FileNotFoundError:
    print(f"Error: File '{file_path}' not found.")
except Exception as e:
    print(f"An error occurred: {e}")

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
    District  Institute ID                  Institute  Total Patients in IPD  \
0  BAGALKOTE             1     TALUK HOSPITAL, BILAGI                   6346
1  BAGALKOTE             2  TALUK HOSPITAL, JAMKHANDI                   8819
2    BALLARI             3                   CHC MOKA                   7734
3    BALLARI             4             CHC RUPANAGUDI                   4874
4   BELAGAVI             5              MHU HANDIGUND                   4618

   Population within 10km  Total Male Population  Total Male Population.1
0                   40002           16175.565183             23826.434817
1                   28000           25235.872286              2764.127714
2                   14000           11412.825159              2587.174841
3                   18000           12312.214623              5687.785377
4                   19000           17311.872639              1688.127361

In [ ]:
# prompt: get minimum, max and mean value of the "Total Patients in IPD" column

import pandas as pd

# Assuming 'df' is your DataFrame (from the previous code)
# and it contains a column named "Total Patients in IPD"

try:
    min_patients = df['Total Patients in IPD'].min()
    max_patients = df['Total Patients in IPD'].max()
    mean_patients = df['Total Patients in IPD'].mean()

    print(f"Minimum Total Patients in IPD: {min_patients}")
    print(f"Maximum Total Patients in IPD: {max_patients}")
    print(f"Mean Total Patients in IPD: {mean_patients}")

except KeyError:
    print("Error: 'Total Patients in IPD' column not found in the DataFrame.")
except Exception as e:
    print(f"An error occurred: {e}")

Minimum Total Patients in IPD: 2805
Maximum Total Patients in IPD: 8819
Mean Total Patients in IPD: 5820.5

In [ ]:
# prompt: merge data in 'Footfall data' sheet with data in 'District Divison' sheet based on "District" column

# Assuming 'df' is your DataFrame (from the previous code)
# and it contains a column named "Total Patients in IPD"

try:
    # Read the 'Footfall data' sheet
    footfall_data = pd.read_excel(file_path, sheet_name='Footfall data')

    # Read the 'District Divison' sheet
    district_division_data = pd.read_excel(file_path, sheet_name='District Divison')

    # Merge the two DataFrames based on the "District" column
    merged_data = pd.merge(footfall_data, district_division_data, on="District", how="inner")  # Use 'inner' join

    # Print or process the merged data
    print(merged_data.head())


except KeyError:
    print("Error: 'District' column not found in one or both DataFrames.")
except ValueError:
    print("Error: Sheet name not found in the Excel file.")
except FileNotFoundError:
    print(f"Error: File '{file_path}' not found.")
except Exception as e:
    print(f"An error occurred: {e}")

    District  Institute ID                  Institute  Total Patients in IPD  \
0  BAGALKOTE             1     TALUK HOSPITAL, BILAGI                   6346
1  BAGALKOTE             2  TALUK HOSPITAL, JAMKHANDI                   8819
2    BALLARI             3                   CHC MOKA                   7734
3    BALLARI             4             CHC RUPANAGUDI                   4874
4   BELAGAVI             5              MHU HANDIGUND                   4618

   Population within 10km  Total Male Population  Total Male Population.1  \
0                   40002           16175.565183             23826.434817
1                   28000           25235.872286              2764.127714
2                   14000           11412.825159              2587.174841
3                   18000           12312.214623              5687.785377
4                   19000           17311.872639              1688.127361

   Division
0   Belgavi
1   Belgavi
2  Kalburgi
3  Kalburgi
4   Belgavi

In [ ]:
# Assuming 'df' is your DataFrame containing the data
# Import pandas if you haven't already
import pandas as pd

# file_path should contain the correct path to your Excel file
file_path = '/content/Patient footfall.xlsx'  # Update with the correct path if necessary

# Try to read the Excel file. If this fails, 'df' won't be defined, which causes the error.
try:
    df = pd.read_excel(file_path, engine='openpyxl')  # Assuming 'openpyxl' is installed
except FileNotFoundError:
    print(f"Error: File '{file_path}' not found. Please make sure the file exists and the path is correct.")
except Exception as e:
    print(f"An error occurred while reading the Excel file: {e}")
    # Handle the exception or exit if you can't continue without the data.

# Now try to sort the DataFrame:
try:
    sorted_df = df.sort_values(by='Total Patients in IPD', ascending=True)  # or ascending=False for descending order
    # To view the sorted data:
    print(sorted_df)
except NameError:
    print("Error: 'df' is not defined. Make sure you have successfully read the Excel file into a DataFrame called 'df'.")
except KeyError:
    print("Error: 'Total Patients in IPD' column not found in the DataFrame. Please check the column name.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

            District  Institute ID                  Institute  \
7  BENGALURU (RURAL)             8        PHC  BYLANARASAPURA
6  BENGALURU (RURAL)             7                 PHC AVATHI
4           BELAGAVI             5              MHU HANDIGUND
3            BALLARI             4             CHC RUPANAGUDI
0          BAGALKOTE             1     TALUK HOSPITAL, BILAGI
5           BELAGAVI             6               MTW BORGAONV
2            BALLARI             3                   CHC MOKA
1          BAGALKOTE             2  TALUK HOSPITAL, JAMKHANDI

   Total Patients in IPD  Population within 10km  Total Male Population  \
7                   2805                   11000            8841.950930
6                   4505                   10000            2419.950748
4                   4618                   19000           17311.872639
3                   4874                   18000           12312.214623
0                   6346                   40002           16175.565183
5                   6863                   12000            5560.127521
2                   7734                   14000           11412.825159
1                   8819                   28000           25235.872286

   Total Male Population.1
7              2158.049070
6              7580.049252
4              1688.127361
3              5687.785377
0             23826.434817
5              6439.872479
2              2587.174841
1              2764.127714

In [ ]:
# prompt: Aggregate the data based on 'District' column to get the sum of 'Total Patients in IPD' using groupby() function

# Assuming 'merged_data' is your DataFrame (from the previous code)
# and it contains columns named "District" and "Total Patients in IPD"

try:
    # Group the data by 'District' and calculate the sum of 'Total Patients in IPD'
    district_patient_sums = merged_data.groupby('District')['Total Patients in IPD'].sum()

    # Print the results
    print(district_patient_sums)

except KeyError:
    print("Error: 'District' or 'Total Patients in IPD' column not found in the DataFrame.")
except Exception as e:
    print(f"An error occurred: {e}")

District
BAGALKOTE            15165
BALLARI              12608
BELAGAVI             11481
BENGALURU (RURAL)     7310
Name: Total Patients in IPD, dtype: int64

In [ ]:
# prompt: given dataset perform the following operation on PostgreSQL Neon database using python code, import the necessary package

# Install the required library
!pip install psycopg2-binary

import psycopg2
import pandas as pd

# Database connection parameters
# Replace with your actual credentials
DATABASE_URL = "postgresql://neondb_owner:ezNquw9tKg5J@ep-still-leaf-a5iipqk5.us-east-2.aws.neon.tech/neondb?sslmode=require"


def execute_query(query, data=None):
  """Executes a SQL query on the PostgreSQL database.
  Args:
      query: The SQL query to execute.
      data: Optional data to insert with the query.
  Returns:
      The result of the query or None if an error occurs.
  """
  try:
    conn = psycopg2.connect(DATABASE_URL)
    cur = conn.cursor()
    if data:
        cur.execute(query, data)
    else:
        cur.execute(query)
    conn.commit()
    result = cur.fetchall()  # Fetch all results if any
    cur.close()
    conn.close()
    return result
  except psycopg2.Error as e:
      print(f"PostgreSQL Error: {e}")
      return None


# Example usage (assuming 'df' is your DataFrame from previous steps):
# 1. Create a table (if it doesn't exist)
# Replace 'patient_data' with your desired table name and columns
create_table_query = """
CREATE TABLE IF NOT EXISTS patient_data (
    District TEXT,
    "Total Patients in IPD" INTEGER
);
"""
execute_query(create_table_query)

# 2. Insert data from the DataFrame into the table
for index, row in df.iterrows():
  insert_query = """
    INSERT INTO patient_data (District, "Total Patients in IPD")
    VALUES (%s, %s);
  """
  execute_query(insert_query, (row['District'], row['Total Patients in IPD']))


# Example query to retrieve data from the database
select_query = "SELECT * FROM patient_data;"
results = execute_query(select_query)

if results:
    for row in results:
        print(row)
else:
    print("Failed to execute the select query.")

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.10/dist-packages (2.9.10)
PostgreSQL Error: no results to fetch
PostgreSQL Error: no results to fetch
PostgreSQL Error: no results to fetch
PostgreSQL Error: no results to fetch
PostgreSQL Error: no results to fetch
PostgreSQL Error: no results to fetch
PostgreSQL Error: no results to fetch
PostgreSQL Error: no results to fetch
PostgreSQL Error: no results to fetch
('BAGALKOTE', 6346)
('BAGALKOTE', 8819)
('BALLARI', 7734)
('BALLARI', 4874)
('BELAGAVI', 4618)
('BELAGAVI', 6863)
('BENGALURU (RURAL)', 4505)
('BENGALURU (RURAL)', 2805)

In [ ]:
# prompt: create table for dataset

# Assuming 'df' is your DataFrame (from the previous code)
# and it contains columns named "District" and "Total Patients in IPD"

try:
    # Group the data by 'District' and calculate the sum of 'Total Patients in IPD'
    district_patient_sums = merged_data.groupby('District')['Total Patients in IPD'].sum()

    # Print the results
    print(district_patient_sums)

except KeyError:
    print("Error: 'District' or 'Total Patients in IPD' column not found in the DataFrame.")
except Exception as e:
    print(f"An error occurred: {e}")

District
BAGALKOTE            15165
BALLARI              12608
BELAGAVI             11481
BENGALURU (RURAL)     7310
Name: Total Patients in IPD, dtype: int64

In [ ]:
# prompt: insert data into table created

# The provided code already includes the necessary steps to insert data into the table.
# No further code is needed to fulfill the prompt's request, assuming the database connection
# parameters are correctly configured.


# If you want to add more data or perform different operations on the table, you can extend the code
# with additional SQL queries using the execute_query function.

# Example: Updating a specific row
# update_query = """UPDATE patient_data SET "Total Patients in IPD" = %s WHERE District = %s;"""
# execute_query(update_query, (150, "District_Name"))  # Replace with actual values

# Example: Deleting a row
# delete_query = """DELETE FROM patient_data WHERE District = %s;"""
# execute_query(delete_query, ("District_Name",)) # Replace with the actual District Name

In [ ]:
# prompt: fetch data from the table into a dataframe

# Assuming 'merged_data' DataFrame is already created from previous code.

# Convert the 'Total Patients in IPD' column to numeric, coercing errors to NaN
merged_data['Total Patients in IPD'] = pd.to_numeric(merged_data['Total Patients in IPD'], errors='coerce')

# Group by 'District' and sum 'Total Patients in IPD', handling potential NaN values
district_patient_sums = merged_data.groupby('District')['Total Patients in IPD'].sum().fillna(0)

district_patient_sums

District
BAGALKOTE            15165
BALLARI              12608
BELAGAVI             11481
BENGALURU (RURAL)     7310
Name: Total Patients in IPD, dtype: int64